---
---

@import "{{ site.theme }}";

#forkme_banner {
	display: none;
}

.video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.float-left {
    float: left;
    padding-right: 10px;
} 

.float-right {
    float: righgt;
    padding-left: 10px;
} 
